<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="menu">
        <h1>About</h1>
        <p>Walking Drawings are graphical illustrations that map the first outings with my newborn baby.</p>
        <p>As the world seems to shink when a little person arrives, leaving the house and getting some sunlight feels like big steps into the world. Each walk is done on foot, with baby in either buggy or hugging me, usually asleep. </p>

        <p>I wanted to record each outing with you as a keep sake, and then it became a sort of record keeping obsession- and now there is this catalog of our first outings together as we explored the local area. The drawings encouraged me to consider our steps and general direction, and made me reflect on how the mundane daily outings of running a small errand or popping to the park could become a series of visual constellations. </p>

<p>The GPS data is recorded using a free plug in called ‘trip recording’ available in the app <a href="https://osmand.net/"> OSM And </a> that I run on my mobile (android). I make the drawings using a modified python script that converts GPX data into SVGs - available <a href="https://nasauber.de/opensource/gpx2svg/">here</a> and then have recorded data about the walks on a spreadsheet that can then be conferred to JSON to be read by a webpage. </p>

<p>I’d be happy to share with anyone interested in doing something similar for education and experimentation. After a few weeks of the project I did a naive search to see artists who have done work in this field and came across <a href="http://www.gpsdrawing.com/info.html"> Jeremy Wood </a> who has committed to this method in their artistic practice. </p>

</main>

<footer>
<div class="navbar">
                    <a href="/"><button type="submit" class="btn btn-primary">Home</button></a>
    <!-- <a href="/"><button type="submit" class="btn btn-primary">Home</button></a> -->
    <!-- <a href="artists"><button type="submit" class="btn btn-primary">Artists</button></a>
    <a href="up"><button type="submit" class="btn btn-primary">Sign up</button></a> -->
</div>
</footer>

</body>
</html>